html, body {
  height: 100%;
  width: 100%;
  background-color: rgba(100,120,150,.2);

  font-family: helvetica;
}

body:hover{
  background-color:rgba(100,120,150,.7);
}

header {
  padding:10px;
  border: 5px solid whitesmoke;
    
  height:100%;
  width:100%;
  background-image: url("Images/Sunrise\ on\ Lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;

  text-align: center;
  font-family: Copperplate;
  font-weight: bold;
  font-variant: small-caps;
    
}

header>img {
      float: left;
      margin:20px;
    }

h1.style1{
  color: white;
  text-shadow: 2px 2px 5px salmon;
  font-size:40px;
}
h2.style1{
  color:darksalmon;
  text-shadow: 2px 2px 5px midnightblue ;
  font-size: 30px;
  
}
h3.style1{
  color: black;
  text-shadow: 2px 2px 5px white;
  font-size:20px;
  text-decoration: underline;
}

h3.chg:hover{
  color: white;
  text-decoration: underline;
}

nav{
  
  width:300px;  
  padding:10px;
  border: 1px dotted darkslateblue;
  border-width: 5px thick;
  margin-top:10px;
  margin-left:10px;
  background-color: white ;
}

nav li{
  
  padding: 10px ;
  margin: 5px;
  border: solid midnightblue;
  background-color: salmon;

  font-family:copperplate;
  font-size:15px;
  text-align:center;
  color: orangered;

  list-style-type:none;
}

nav:hover{
  background-color:tan;
}

nav li:hover{
  background:darkslateblue;
  color:tan;
}

nav a{
  color: black;
}

nav a:hover{
  color:  white;
}

main {
  width:100%;
  padding: 20px;
  border: 1px dotted darkslateblue;
  border-width: 5px thick;
  background-color:#FF5050;
  margin-top:10px;

 /* overflow:auto; */

  color:midnightblue
  
}




p{
  font-weight: bold;
}

ul{
  font-weight: bold;
}

ol{
  font-weight:bold;
}

table, th, td{
  border:2px solid black;
  width:50%;
  margin-left:20%;
  

  font-family:serif;
  font:1.5em;
  color: darkslateblue;
}

th{
  background:black;
  color:white;
}


footer {
  padding:10px;
  border-top: 5px solid whitesmoke;
  color:midnightblue
}

/*--Everyother Style for Page 1 Roman--*/

.everyother{
  background-color:#e7e8e9;
}

/*--Table style Page 2--*/


/*---Grid Container---*/
.hdr{
    grid-area: hdr1area;
  }
  .n{
    grid-area: narea;
  }
  .m{
    grid-area: marea;
  }
  .f{
    grid-area: farea;
  }

.grid-container{
  display:grid;
  grid-row-gap: 5%;
  grid-column-gap: 3%;
  grid-template-areas:
    'hdr1area hdr1area hdr1area'
    'hdr1area hdr1area hdr1area'
    'narea marea marea'
    'narea marea marea'
    'farea farea farea';
    
  grid-template-columns:3;
  grid-template-rows:5;
}

li.uroman {
  list-style-type: upper-roman;
  text-decoration:underline;
}

li.lroman {
  list-style-type: lower-roman;
  margin-left: 20px;
}


