html, body {
  height: 100%;
  width: 100%;
  background-color: rgba(100,120,150,.2);

  font-family: helvetica;
}

header {
  padding:10px;
  border: 1px solid purple;
  margin: 10pxx;
  
  height:100%;
  width:100%;
  background-image: url("Images/Sunrise\ on\ Lake.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;

  text-align: center;
  font-family: Copperplate;
  font-weight: bold;
  font-variant: small-caps;
    
}

h1.style1{
  text-shadow: 2px 2px 5px ;
  font-size:60;
}
h2.style1{}
h3.style1{}

nav{
  padding:10px;
  border: 1px dotted orangered;
  border-width: 5px thick;
  margin-left:10px;
  background-color: ;
}

nav li{
  width: 60%;
  padding: 5px;
  margin: 5px;
  border: dotted medium solid midnightblue;
  background-color: goldenrod;

  font-familyt:;
  font-size:15;
  text-align:left;
  color: orangered;

  list-style-type:none;
}

main {
  padding:30px;
  border: 1px dotted #c5542b;
  border-width: 5px thick;
  margin-right:10px;
  
}

footer {
  padding:10px;
  border: 1px dashed blueviolet;
  margin-top: 5px;
}



/*---Grid Container---*/
.hdr{
    grid-area: hdr1area;
  }
  .n{
    grid-area: narea;
  }
  .m{
    grid-area: marea;
  }
  .f{
    grid-area: farea;
  }

.grid-container{
  display:grid;
  grid-row-gap: 10%;
  grid-column-gap: 3%;
  grid-template-areas:
    'hdr1area hdr1area hdr1area'
    'hdr1area hdr1area hdr1area'
    'narea marea marea'
    'narea marea marea'
    'farea farea farea';
    
  grid-template-columns:3;
  grid-template-rows:5;
}

li.uroman {
  list-style-type: upper-roman;
}

li.lroman {
  list-style-type: lower-roman;
  margin-left: 40px;
}


